@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: red;
}

tr {
    border-radius: 20px;
    padding: 20px;
}

.delete {
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: black;
    color: white;
}

.delete:hover {
    cursor: pointer;
    transition: 0.2s;
    background-color: red;
    color: black;
}

tr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E7F2E4;
    margin: 10px;
}



table {
    width: 500px;
    text-align: center;
    border-radius: 5px;
}


* {
    font-family: "poppins";
    font-weight: bold;
}

.input-text {
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 18px;
}

.input-text:focus {
    border: none;
    outline: none;
}

.form {
    padding: 20px;
    display: flex;
    border: 2px solid black;
    border-radius: 20px;
    padding: 0;
}

.add {
    border-radius: 18px;
    background-color: red;
    padding: 20px;
    border: none;
    border-left: 2px solid black;
}

.add:hover {
    background-color: black;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

tr:hover {
    transition: 0.2s;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    accent-color: red;
    cursor: pointer;
}